@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto-Regular, sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.gradient-background {
  background: radial-gradient(ellipse at top left, #231f20 0%, #090a0f 100%);
}
